@charset "UTF-8";
/* CSS Document */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: inherit;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-footer {
  padding: 1em;
  text-align: right;
}

h1,
h2 {
  text-align: center;
}

.fields {
  display: grid;
  grid-template-columns: 2fr minmax(max-content, 1fr) 2fr;
  /* grid-template-columns: 2fr 1fr 2fr; */
  /* grid-template-columns: 1fr fit-content(20%) 1fr; */
  /* grid-template-columns: max-content 2fr max-content; */
  align-items: center;
  grid-gap: 5px;
}
.fields label {
  text-align: right;
}
.fields label:after {
  content: ":";
}
.fields input {
  font-size: larger;
}
.fields unit {
  text-align: left;
}
