@charset "UTF-8";
/* CSS Document */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: inherit;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-footer {
  padding: 1em;
  text-align: right;
}

h1,
h2,
h3 {
  text-align: center;
}

.fields {
  display: grid;
  grid-template-columns: 2fr minmax(max-content, 1fr) 2fr;
  /* grid-template-columns: 2fr 1fr 2fr; */
  /* grid-template-columns: 1fr fit-content(20%) 1fr; */
  /* grid-template-columns: max-content 2fr max-content; */
  align-items: center;
  grid-gap: 5px;
  margin: 5px;
}
.fields label {
  text-align: right;
}
.fields label:after {
  content: ":";
}
.fields input {
  font-size: larger;
}
.fields unit {
  text-align: left;
}

.radio-container {
  text-align: center;
}

.radio-container input {
  display: none; /* Hide the actual radio buttons */
}

.radio-container label {
  display: inline-block;
  padding: 1em 1.5em;
  margin-right: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.radio-container input:checked + label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

input[readonly] {
  background-color: #f0f0f0; /* Light gray background */
  border: 1px solid #ccc; /* Gray border */
  color: #555; /* Dark gray text */
  cursor: not-allowed; /* Show not-allowed cursor */
}